.CatalogueEnd__message {
  color: rgb(220,145,165);
  font-family: 'VT323', 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 2em;
  padding-bottom: 2em;
}
