.Product__wrapper {
  background-color: beige;
  position: relative;
  height: 300px;
  margin: 10px;

  .Product__face {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Product__displayInfo {
    position: absolute;
    bottom: 0;
  
    p {
      margin: 0.1em;
    }
  }
}
